# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist

# OS
.DS_Store

# Logs
npm-debug.log*
npm-error.log*

# script input (from files in Google Drive) and output (from scripts)
/src/scripts/input
/src/scripts/output
