@import "./vars";

.dropdown {
  display: flex;
  flex-direction: column;

  & + & {
    border-top: 1px solid #ddd;
  }

  .dropdown-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;

    &:hover {
      background-color: $teal-light-12;
    }
    &:active {
      background-color: $teal-light-25;
    }

    .dropdown-label {
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
    }

    .dropdown-header-content {
      display: flex;
      flex-direction: row;
      justify-items: flex-start;
      flex: 2;
      margin: 8px 8px;
    }

    .dropdown-icon {
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        transition: transform 0.25s ease;
      }
    }
  }

  & > hr {
    border: 0;
    border-top: 1px solid #ddd;
    width: 100%;
  }

  .dropdown-content {
    display: flex;
    height: 0;
    overflow: hidden;
    transition: height 0.25s ease;
  }
}
